body {
  font-family: 'Lato';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran';
  font-weight: 800 !important;
}

.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.bg-black {
  background-color: #000 !important;
}

.rounded-pill {
  border-radius: 5rem;
}

.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgb(255, 255, 255);
}

.navbar-custom .navbar-brand {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: -webkit-linear-gradient(to bottom, #3d6098bf 0%, #3d6098bf 100%), url("../img/header.jpg") no-repeat;
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #3d6098bf 0%, #3d6098bf 100%), url("../img/header.jpg") no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover
}

header.masthead .masthead-content {
  z-index: 1;
  position: relative;
}

header.masthead .masthead-content .masthead-heading {
  font-size: 4rem;
}

header.masthead .masthead-content .masthead-subheading {
  font-size: 2rem;
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 25rem;
    padding-bottom: calc(10rem - 56px);
  }
  header.masthead .masthead-content .masthead-heading {
    font-size: 6rem;
  }
  header.masthead .masthead-content .masthead-subheading {
    font-size: 4rem;
  }
}

footer {
  padding: 25px 0;
  text-align: center;
  background: #2a419e
}

footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif
}

footer ul.quicklinks {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif
}

ul.social-buttons {
  margin-bottom: 0
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  color: #fff;
  border-radius: 100%;
  outline: 0;
  background-color: #212529
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #c49f54
}



:root {
  --hex-width: 20rem; 
  --hex-between: 0.1rem;
  
  --hex-height: calc(var(--hex-width) / 1.73 /* sqrt(3) */);
  --hex-margin: calc(var(--hex-width) / 10);
  --hex-border: calc(var(--hex-margin) / 1.73 /* sqrt(3) */);
  --hex-transition: all .2s ease;
  
  --color-hex-default: #000000;
  --color-hex-hover:   #FFFFFF;
  --color-dark-purple: #f04b4c;
  --color-light-purple:#ed1c24;
  --color-pink:        #ff0178;
}

.square {
  align-items: center;
  background-color: var(--color-hex-default);
  cursor: pointer;
  display: flex;
  color: #e9ecef;
  height: var(--hex-height);
  justify-content: center;
  margin: var(--hex-border) 0;
  position: relative;
  transition: var(--hex-transition);
  width: var(--hex-width);
}

.square:hover {
  background-color: var(--color-hex-hover);
  text-decoration: none
}

.square:hover::after, .square:hover::before {
  border-top-color: var(--color-hex-hover);
  border-bottom-color: var(--color-hex-hover)
}

.color-dark-purple {
  background-color: var(--color-dark-purple)
}

.color-dark-purple::after, .color-dark-purple::before {
  border-top-color: var(--color-dark-purple);
  border-bottom-color: var(--color-dark-purple)
}

.color-dark-purple:hover {
  color: var(--color-dark-purple)
} 

.color-light-purple {
  background-color: var(--color-light-purple)
}

.color-light-purple::after, .color-light-purple::before {
  border-top-color: var(--color-light-purple);
  border-bottom-color: var(--color-light-purple)
}

.color-light-purple:hover {
  color: var(--color-light-purple)
}

.color-pink {
  background-color: var(--color-pink)
}

.color-pink::after, .color-pink::before {
  border-top-color: var(--color-pink);
  border-bottom-color: var(--color-pink)
}

.color-pink:hover {
  color: var(--color-pink)
}