body {
  font-family: 'Lato'
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Catamaran';
  font-weight: 800 !important
}

a {
  color: #fff
}

a:hover {
  color: #ed1c24
}

.bg-black {
  background-color: #000 !important
}

.rounded-pill {
  border-radius: 5rem
}

.navbar-custom {
  background: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem
}

.navbar-custom .navbar-brand {
  text-transform: uppercase;
  color: #3d6098;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 700
}

.navbar-custom .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  color: #3d6098;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem
}

footer {
  padding: 25px 0;
  text-align: center;
  background: #3d6098
}

footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif
}

footer ul.quicklinks {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif
}

ul.social-buttons {
  margin-bottom: 0
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  color: #fff;
  border-radius: 100%;
  outline: 0;
  background-color: #212529
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #f04b3d
}




